.exp-item-date-ctn {
  display: flex;
  flex-direction: column;
}

.exp-itm-ctn {
  padding: 10px;
  background-color: #ecf2e8;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
